<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} DevBaord {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <header>
        <nav class="navbar">
            <h1>DevBaord</h1>

            <ul>
                <li><a href="{{ url_for('main.home') }}">Dashboard</a></li>
                <li><a href="{{ url_for('main.projects') }}">Projects</a></li>
                <li><a href="{{ url_for('main.tasks') }}">Tasks</a></li>
                <li><a href="{{ url_for('main.learning') }}">Learning</a></li>
                <li><a href="{{ url_for('main.notes') }}">Notes</a></li>
            </ul>
        </nav>
    </header>

    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

        <div class="flash-container">

            {% for category, message in messages %}

            <div class="flash-message flash-{{ category }}">
                {{ message }}
            </div>

            {% endfor %}

        </div>

        {% endif %}

        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block scripts %}
    {% endblock %}


</body>

</html>